# environment variables
.env

# dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

#notes
notes.txt
backend/backendNotes.txt
backend/expressjsNotes.txt
frontend/frontEndNotes.txt